[Unit]
Description=xard
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=xard
Group=xard
PermissionsStartOnly=true
ExecStart=/usr/bin/xard start
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

