[Unit]
Description=xarcli
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=xard
Group=xard
PermissionsStartOnly=true
ExecStart=/usr/bin/xarcli rest-server --laddr {{XARCLI_ADDRESS}}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

