[Unit]
Description=zarcli
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=zard
Group=zard
PermissionsStartOnly=true
ExecStart=/usr/bin/zarcli rest-server --laddr {{ZARCLI_ADDRESS}}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

