[Unit]
Description=zard
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=zard
Group=zard
PermissionsStartOnly=true
ExecStart=/usr/bin/zard start
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

