@import "../../variables";

.exchange-header {
  @extend %row-nowrap;
  color: $white;
  flex: 0 0 auto;

  &__item {
    @extend %column-nowrap;
    justify-content: flex-start;
    padding: .625rem;
    height: 300px;

    &__caret {
      position: absolute;
      width: .5rem;
      height: .5rem;
      right: 0px;
      top: 5px;
      background-image: url("../../assets/icons/caret-down.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &__text {
      padding-right: 0.8rem;
      cursor: pointer;
      padding-bottom: 10px;
      padding-left: 5px;
    }

    &__label {
      @extend %ellipsify;
      flex: 0 0 auto;
      font-size: .325rem;
      text-transform: uppercase;
      color: rgba($white, .25);
    }

    &__value {
      @extend %ellipsify;
      font-size: .75rem;
      font-family: 'Roboto Mono', monospace;
      padding-top: .25rem;
      flex: 1 1 auto;
      height: 0;
    }

    &--positive {
      .exchange-header {
        &__item {
          &__value {
            color: $shamrock-green;
          }
        }
      }
    }

    &--negative {
      .exchange-header {
        &__item {
          &__value {
            color: $persimmon-red;
          }
        }
      }
    }

    &--loading {
      padding: .625rem .625rem .375rem .625rem;

      .exchange-header {
        &__item {
          &__value {
            position: relative;
            margin-top: .375rem;
            background-color: rgba($white, .05);
            border-radius: .125rem;
            max-height: 14px;

            &:after {
              @extend %loading-placeholder;
            }
          }
        }
      }
    }
  }
}
